.zoom {


    transition: transform .7s;



}

.zoom:hover {
    transform: scale(1.1);

}

.zoom:hover {
    background-color: bisque;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


input[type=text],
[type=email],
[type=number],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}





.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;

    border: 1px solid #888;
    width: 80%;

}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}

.nav_logo {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 12px;
}

.nav_span {
    color: #f9004d;
}

.bac {
    background: #101010
}

.button_ {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 30px;
    transition: .4s;
}

.button_:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

#nav_color {
    color: aquamarine;
}

button a:hover {
    text-decoration: none;
    color: white;
}

.button_kisu {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 10px;
    transition: .4s;
}

.button_kisu:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.button_feedback {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 25px;
    transition: .4s;
}

.button_feedback:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.button_submit {
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 30px;
    transition: .4s;
}

.button_submit:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}